body {
    transition:background-color 1s ease;
    background: teal;
    overflow: hidden;
}
    /* Colors */
    .purple {
      background: purple;
    }

    .teal {
      background: teal;
    }

    .darkolivegreen {
      background: darkolivegreen;
    }

    .darkslategray {
      background: darkslategray;
    }

    .mediumvioletred {
      background: mediumvioletred;
    }

    .chocolate {
      background: chocolate;
    }

    .darkgreen {
      background: darkgreen;
    }

.darkcyan {
      background: darkcyan;
    }

#template-output {
    width: 80%;
    height: 100%;
    margin: 10% auto; 
}

#navigation {
    position: static;
    margin-top: -10%;
    left: 0;
    right: 0;
}

@media only screen and (max-width : 375px) {
    #navigation {
        position: static;
        top: 11%;
        left: 0;
        right: 10%;
    }
    
    .circleWrapper  {
        overflow-x: hidden;
    }
    
    .circle1, .circle4, .circle5, .circle6 {
        display: none;
    }
}


h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", monospace;
    color: white;
    text-shadow: 2px 2px 2px cornflowerblue;
}

label, span {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px cornflowerblue; 
}

[type="text"], [type="password"], [type="tel"],[type="email"], [type="url"], [type="date"], select {
    opacity: 0.8;
    font-weight: bolder;
    color: black;
}

input[type="button"] {
    opacity: 0.9;
}

.circle0 {
    position: absolute;
    top: 10%;
    left: 10%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
    background: gainsboro;
    opacity: 0.5;
    background-size: cover;
}


.circle1 {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 60px;
    height: 60px; 
    padding: 6%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.1;
}
    
.circle2 {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 300px;
    height: 300px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.4;
}

.circle3 {
    position: absolute;
    top: -40%;
    left: 50%;
    width: 500px;
    height: 500px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.3;
}

.circle4 {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 100px;
    height: 100px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.2;
}

.circle5 {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 400px;
    height: 400px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.3;
}

.circle6 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 60px;
    height: 60px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.3;
}

.circle7 {
    position: absolute;
    top: 40%;
    left: -10%;
    width: 600px;
    height: 600px; 
    padding: -100%;
    border-radius: 50%;
    background: gainsboro;
    opacity: 0.05;
    animation-delay: 10s;
}

.rotateAnim {
    transform: rotate(45deg) translateX(5px) rotate(-45deg);
    animation: orbit2 15s linear infinite;
}

.rotateAnim2 {
    transform: rotate(45deg) translateX(5px) rotate(-45deg);
    animation: orbit2 5s linear infinite;
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(5px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}