body {
    transition:background-color 1s ease;
    background:lightblue;
}
    /* Colors */
    .lightblue {
      background: lightblue;
    }

    .lightcoral {
      background: lightcoral;
    }

    .lightsalmon {
      background: lightsalmon;
    }

    .lightseagreen {
      background: lightseagreen;
    }

    .lightsteelblue {
      background: lightsteelblue;
    }

    .lightpink {
      background: lightpink;
    }

    .beige {
      background: beige;
    }

    .honeydew {
      background: honeydew;
    }

    .lavender {
      background: lavender;
    }

#template-output {
    width: 80%;
    height: 100%;
    margin: 10% auto; 
}

span {
    font-weight: bold;
}

#navigation {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
}

@media only screen and (max-width : 375px) {
    #navigation {
        position: fixed;
        top: 12%;
        left: 0;
        right: 0;
    }
}