<div>
     <label>First Name <input type="text" /></label></br>
     <label>Last Name <input type="text" /></label></br>
     Gender:
    <label>Male <input type="radio" name="gender" /></label>
    <label>Female <input type="radio" name="gender" /></label>
    <label>Unspecified <input type="radio" name="gender" /></label></br>
</div>