<div>
---4:</br>
<label>Tel.: <input type="tel" id="phone" /></label></br>
<label>E-mail: <input type="email" id="mail" /></label></br>
<label>Website: <input type="url" id="site" /></label></br>
</div>