<div>
---2:</br>
<label>Birthdate <input type="date" /></label></br> 
City:
<select name="select">
  <option selected></option> 
  <option>Burgas</option> 
  <option>Varna</option>
  <option>Sofia</option>
  <option>Plovdiv</option>
  <option>Other</option>
</select></br>
<label>Address: <input type="text" /></label></br>
</div>