<!-- OLD
<div>
    <label for="fname">First Name</label>
    <input type="text" id="fname" class="Required" /></br>
    <label>Last Name <input type="text" id="lname" class="Required" /></label></br>
    <span>Gender:</span>
    <label>Male <input type="radio" name="gender" value="male" /></label>
    <label>Female <input type="radio" name="gender" value="female" /></label>
    <label>Unspecified <input type="radio" name="gender" value="unspecified" /></label></br>
</div>
-->

<form>
    
  <div class="form-group row">
    <label for="fname" class="col-sm-2 form-control-label">Име</label>
    <div class="col-sm-7">
    <input type="text" class="form-control" id="fname" required />
    </div>
  </div>
  
    <div class="form-group row">
    <label for="lname" class="col-sm-2 form-control-label">Фамилия</label>
    <div class="col-sm-7">
    <input type="text" class="form-control" id="lname" required />
    </div>
  </div>
    
    <div class="form-group row">
    <span class="col-sm-2 form-control-label">Пол</span>
    <label class="col-sm-2">Мъж <input type="radio" name="gender" value="мъж" /></label>
    <label class="col-sm-3">Жена <input type="radio" name="gender" value="жена" /></label>
    <label class="col-sm-2">Неуточнен <input type="radio" name="gender" value="неуточнен" /></label></br>
    </div>
    
</form>
