<div>
---5:</br>
Education:
<select name="select">
  <option selected></option> 
  <option>Elementary</option> 
  <option>Secondary</option>
  <option>College</option>
  <option>University</option>
  <option>Other</option>
</select></br>
<label>Languages: <input type="text"/></label></br>
<label>Hobbies: <input type="text" /></label></br>
</div>