<!--
<div>
<label>Tel.: <input type="tel" id="phone" /></label></br>
<label>E-mail: <input type="email" id="mail" /></label></br>
<label>Website: <input type="url" id="site" /></label></br>
</div>
-->

<form>
    
  <div class="form-group row">
    <label for="phone" class="col-sm-2 form-control-label">Телефон</label>
    <div class="col-sm-10">
    <input type="tel" class="form-control" id="phone" />
    </div>
  </div>
  
    <div class="form-group row">
    <label for="mail" class="col-sm-2 form-control-label">Поща</label>
    <div class="col-sm-10">
    <input type="email" class="form-control" id="mail" required />
    </div>
  </div>
    
    <div class="form-group row">
    <label for="site" class="col-sm-2 form-control-label">Уебсайт</label>
    <div class="col-sm-10">
    <input type="url" class="form-control" id="site" />
    </div>
  </div>
    
</form>