<div>
---5:</br>
Education:
<select name="select" id="education">
  <option selected></option> 
  <option value="elementary">Elementary</option> 
  <option value="secondary">Secondary</option>
  <option value="college">College</option>
  <option value="university">University</option>
  <option value="other">Other</option>
</select></br>
<label>Languages: <input type="text"/ id="langs"></label></br>
<label>Hobbies: <input type="text" id="hobbies" /></label></br>
</div>