<div>
    ---3:</br>
<label>Username: <input type="text" id="username"/></label></br>
<label>Password: <input type="password" id="password"/></label></br>
<label>Re-type password: <input type="password" id="repassword" /></label></br>
</div>