<div>
---2:</br>
<label>Birthdate <input type="date" id="birthdate" /></label></br> 
City:
<select name="select" id="city">
  <option selected></option> 
  <option value="Burgas">Burgas</option> 
  <option value="Varna">Varna</option>
  <option value="Sofia">Sofia</option>
  <option value="Plovdiv">Plovdiv</option>
  <option>Other</option>
</select></br>
<label>Address: <input type="text" id="address" /></label></br>
</div>