<div>
     <label>First Name <input type="text" id="fname" /></label></br>
     <label>Last Name <input type="text" id="lname" /></label></br>
     Gender:
    <label>Male <input type="radio" name="gender" value="male" /></label>
    <label>Female <input type="radio" name="gender" value="female" /></label>
    <label>Unspecified <input type="radio" name="gender" value="unspecified" /></label></br>
</div>
